<!DOCTYPE html>
<html>
  <head>
    <title>NewNews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
    <div class="center"><%= render "shared/nav_bar" %></div>
    
  <body class="Background">
    <%= yield %>
  </body>
</html>